.header
	%div
		%ul
			%button{type: "button", id: "Top"}
				Top
			%button{type: "button", id: "AboutMe"}
				AboutMe
			%button{type: "button", id: "Skills"}
				Skills
			%button{type: "button", id: "Works"}
				Works
			%button{type: "button", id: "Bottom"}
				Bottom
.body
	%div
		= image_tag "/images/29476.jpg", alt: "Portfolioの画像"
		.text
			Portfolio
	%ul.AboutMe
		AboutMe
		%li
			佐藤諒平
		%li
			1997年生まれ福岡県出身
		%li
			.about
				2019年10月よりエンジニアになると決意。
				そこからTECH::EXPERT生として2ヶ月半Railsなどに関する勉強を始めた。
				2020年1月には42tokyoのPicsineを受けるが不合格だった。
				現在は独学でUnityを勉強中。
	= image_tag "/images/333.jpg", alt: "Portfolioの画像"
	%ul.Skills
		Skills
		%li
			言語：Haml, Sass, Ruby, C, C#
		%li
			ツール：Ruby on Rails, Unity
		%li
			OS：Mac
		%li
			DB：SQL
		%li
			サーバー：AWS
	= image_tag "/images/222.jpg", alt: "Portfolioの画像"
	%ul.Works
		Works
		%li
			.works
				.works__box
					.works__box__title
						= link_to "http://3.113.190.54/", target: :_blank do
							= image_tag "/images/444.jpg", alt: "CloneAppの画像"
							= image_tag "/images/bbb.png", alt: "CloneAppの画像"
					.works__box__about
						.name
							CloneApp<br><br>
						Railsを用いたフリマーケットのクローンサイト。<br>
						TECH::EXPERTの最終課題として計3名で開発。<br>
						機能：ユーザー新規登録、ログイン機能、商品出品、商品購入、商品編集、商品削除、検索機能
		%li
			.works
				.works__box
					.works__box__title
						= link_to "http://18.176.213.183/", target: :_blank do
							= image_tag "/images/55.jpg", alt: "HurryAppの画像"
							= image_tag "/images/66.jpg", alt: "HurryAppの画像"
					.works__box__about
						.name
							HurryApp<br><br>
						Railsを用いた個人制作サイト。<br>
						ドーム内や競技場内でのドリンク注文アプリ。<br>
						機能：ユーザー新規登録、ログイン機能、ユーザー編集機能、注文機能、レビュー機能、管理者機能
		%li
			.works
				.works__box
					.works__box__title
						= link_to "https://unityroom.com/games/rab", target: :_blank do
							= image_tag "/images/777.png", alt: "RunAwayfromBallの画像"
							= video_tag "/images/bn.mov", autoplay: true, loop: true, controls: true
					.works__box__about
						.name
							RunAwayfromBall<br><br>
						Unityを用いた個人制作ゲーム。<br>
						ランダムに出現する赤いボールから逃げる鬼ごっこゲーム。<br><br>
						下記リンクで簡単に紹介しています
						= link_to "https://www.youtube.com/watch?v=ZOfEjpie1kg", target: :_blank do
							https://www.youtube.com/watch?v=ZOfEjpie1kg
	= image_tag "/images/11.jpg", alt: "Portfolioの画像"
.footer
	.border
	= link_to "https://github.com/rsato-username", target: :_blank do
		%i.fab.fa-github-square
	<br>
	Portfolio